.dot.dot1, .dot.dot2, .dot.dot3, .dot.dot4{
    position: absolute;
    background: #D0D9FA;
    width: 6px;
    height: 6px;
    border-radius: 4px;
    transform: rotate(90deg);
    // background-color: red;
    
  }
 
  .dot1  {
    left: 70px;
    top: 335px;
    
  }
  .dot2{
    left: 70px;
    top: 345px;

  }
  .dot3{
    left: 70px;
    top: 355px;

  }
  .dot4{
    left: 70px;
    top: 365px;

  }