.SingUpFormContainer{
  background: #E5E5E5;
}
.SingUpForm {
  display: flex;
  justify-content: space-between;
  background: #E5E5E5;
  max-width: 111rem;
  margin: 0 auto;
  .FormWrap {
    display: flex;
    flex-direction: column;
    // padding-left: 145px;
    padding-top: 100px;
    margin-right: 110px;

    & h3 {
      width: 445px;
      height: 104px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 42px;
      line-height: 52px;
      letter-spacing: -0.758333px;
      color: #1A1A1A;
      margin-bottom: 16px;
    }

    .titleContent {
      width: 400px;
      // height: 52px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: -0.288889px;
      color: #767676;
      margin-bottom: 60px;
    }

    

    .SingUpWrap {

     form {
        display: flex;
        flex-direction: column;
        p {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
          letter-spacing: -0.288889px;
          color: #767676;
          margin-bottom: 60px;
        }

      }

      label {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.4px;
        text-transform: uppercase;
        color: #1A1A1A;
        margin-bottom: 10px;
        

      }

      .hhh{
        padding-bottom: 100px;
      }
      input {
        border: 1px solid #D2D2D2;
        border-radius: 6px;
        width: 350px;
        height: 56px;
        padding-left: 10px;
      
      }

    }

  }

  .picture {
    padding-top: 71px;
    img{
      max-width: 100%;
      height: 100%;
    }
  }
}

