.SingUpForm {
  display: flex;
  justify-content: space-between;
  background: #E5E5E5;

  .FormWrap {
    display: flex;
    flex-direction: column;
    padding-left: 145px;
    padding-top: 100px;

    & h3 {
      width: 445px;
      height: 104px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 42px;
      line-height: 52px;
      letter-spacing: -0.758333px;
      color: #1A1A1A;
      margin-bottom: 16px;
    }

    .titleContent {
      width: 400px;
      // height: 52px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: -0.288889px;
      color: #767676;
      margin-bottom: 60px;
    }

    

    .SingUpWrap {

     form {
        display: flex;
        flex-direction: column;
        p {
          // width: 400px;
          // height: 52px;
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
          letter-spacing: -0.288889px;
          color: #767676;
          margin-bottom: 60px;
        }

      }

      label {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.4px;
        text-transform: uppercase;
        color: #1A1A1A;
        margin-bottom: 10px;
        

      }


      input {
        border: 1px solid #D2D2D2;
        border-radius: 6px;
        width: 350px;
        height: 56px;
        // background-color: #E5E5E5;
        padding-left: 10px;
      
      }

      // input:valid:not(:placeholder-shown) {
      //   border-color: rgb(41, 8, 189);
      // }
      
      // input:invalid:not(:placeholder-shown) {
      //   border-color: red;
      // }
      // input:invalid:not(:placeholder-shown) + .form__error {
      //   display: block;
      // } 









    }
  

  }

  .picture {
    padding-top: 71px;
  }
}

