



  form {

    .Usernam{
      position: relative;
      span{
        position: absolute;
        color: red;
        top: -107px;
        left: 75px;
       } 
    }          
    .email{
      position: relative;
      span{
        position: absolute;
        color: red;
        top: -107px;
        left: 75px;
       } 

    }
    .Password{
      position: relative;
      span{
        position: absolute;
        color: red;
        top: -107px;
        left: 75px;
       } 

    }

     span{
    position: absolute;
    color: red;
    top: -107px;
    left: 75px;
   } 
  
  }

.a{
    background: url('../../img/User.svg') no-repeat center right;
    background-position: 310px 50%;
    
  }

   .b{
    background: url('../../img/Mail.svg') no-repeat center right ;
    background-position: 310px 50%;
    
  }
.j{
  position: relative;
}
  .c{
    position: absolute;
    top: 17px;
    right: 114px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('../../img/Eye_off.svg') 0, 0, no-repeat;

  }
  .h{
    background: #E5E5E5;
  }
  .k{
    position: absolute;
    top: 17px;
    right: 114px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('../../img/Eye_on.svg') 0, 0, no-repeat;
   
  }

  input:not(:last-child) {
    margin-bottom: 24px;
  }



    .clearfix {
      display: flex;
      width: 435px;
      height: 56px;
      justify-content: space-between;
      margin-top: 37px;

      .btn {
        width: 112px;
        height: 56px;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.325px;
      }
 
      p:last-child {
        color: #1A1A1A;
        margin-bottom: 0px;
        width: 303px;
        height: 52px;
      }

      p:last-child a {
        color: rgba(39, 167, 89, 1);
      }
    }
    

  .picture {
    padding-top: 71px;
  }


