

.Footer {
  max-width: 1400px;
  min-width: 270px;
  width: 1400px;
  height: 186px;
  background: #E5E5E5;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;

  .wrap {
    display: flex;
    justify-content: space-between;
     

    .footerContent{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      margin-left: 63px;

      .icon {
      padding-bottom: 33px;
      

      img:nth-child(1) {
        
      }

      img:nth-child(2),
      img:nth-child(3),
      img:nth-child(4) {
        margin-left: 16px;
      }

      img:nth-child(4) {
        display: inline-block;
        vertical-align: 2px;
        margin-right: 5px;
      }
    }

      .info {
    padding-bottom: 17px;
    padding-top: 3px;
    margin-left: 12px;

    span {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: #767676;

    }

    span:nth-child(1) {
      letter-spacing: -0.252778px;
      margin-right: 16px;
      
    }

    span:nth-child(2) {
      letter-spacing: -0.152778px;
      margin-right: 16px;
      
    }

    span:nth-child(3) {
      letter-spacing: -0.152778px;
      margin-right: 16px;
      
    }

    span:nth-child(4) {
      letter-spacing: -0.152778px;
      margin-right: 16px;
      
    }
    
  }

div p {
    padding-right: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #767676;
    letter-spacing: -0.112778px;
  }

    } 
  }
}

input {
  background: url('../../img/Path.svg') no-repeat center;
  background-position: 150px 50%;
  width: 180px;
  height: 40px;
  border: solid 1px #D2D2D2;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.288889px;
  color: #767676;
  padding-left: 14px;
  border-radius: 6px;
}
// @media all and (max-width: 1400px){
//   .Footer{
//     width: 1200px;
//     background: #27A759;
//     }

// }

