.Feature {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  height: 600px;
  overflow: hidden;
  position: relative;
  

  .contentSlider {
    padding-left: 145px;
    margin-right: 101px;

  }
  
  .content {
    & div:nth-child(1) {
      margin-bottom: 24px;
      margin-right: 145px;

      h2 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 52px;
        line-height: 62px;
        letter-spacing: -0.938889px;
        color: #1A1A1A;
        width: 730px;
        height: 124px;
      }
    }

    & div:nth-child(2) {
      margin-right: 240px;
      margin-bottom: 37px;

      p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: -0.361111px;
        color: #767676;
        width: 635px;
        height: 90px;
      }
    }

    .button {
      width: 149px;
      height: 48px;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      text-align: center;
      letter-spacing: -0.288889px;
      color: #FEFEFE;
    }

  }
}