.Pricing {
  display: flex;
  background: #FEFEFE;
  justify-content: space-between;
  padding: 100px 145px 100px 145px;

  // display: grid;
  // grid-template-columns: repeat(3, 1fr);
  // grid-gap: 2em;
  // grid-auto-rows: minmax(100px, auto) ;
  // margin: 100px 145px 100px 145px;
  
}