.contentWrap{
margin: 0 auto;
max-width: 111rem;
.Content {
   margin-top: 100px;
   max-width: 110.1rem;
   div:nth-child(1) {
      margin-bottom: 24px;

      p {
         font-family: "Inter";
         font-style: normal;
         font-weight: 600;
         font-size: 24px;
         line-height: 34px;
         text-align: center;
         letter-spacing: -0.433333px;
         color: #27a759;
      }
   }

   div {
      display: flex;
      justify-content: center;
   }

   div:nth-child(2) {
      margin-bottom: 21px;

      h1 {
         width: 620px;
         height: 151px;
         font-family: "Inter";
         font-style: normal;
         font-weight: 700;
         font-size: 64px;
         line-height: 74px;
         color: #1a1a1a;
         text-align: center;
      }
   }

   div:nth-child(3) {
      margin-bottom: 24px;

      p {
         font-family: "Inter";
         font-style: normal;
         font-weight: 500;
         font-size: 20px;
         line-height: 30px;
         text-align: center;
         letter-spacing: -0.361111px;
         color: #767676;
         width: 468px;
         height: 60px;
      }
   }

   .sd {
      width: 168px;
      height: 56px;
      display: flex;
      align-items: center;
      position: relative;

      .sf {
         &:after {
            content: "→";
            font-family: "Inter";
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            text-align: center;
            letter-spacing: -0.325px;
            color: #27a759;
            position: absolute;
            left: 104px;
            top: 10px;
         }

         a {
            font-family: "Inter";
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            text-align: center;
            letter-spacing: -0.325px;
            text-decoration: none;
            border-bottom: 1px solid;
            color: #27a759;
         }
      }
   }

   div:nth-child(4) {
      margin-bottom: 33px;
   }
}

.Wrap {
   display: flex;
   justify-content: center;

   .ipad {
      width: 926px;
      height: 695px;
      background: #4366e9;

      // background-color: #27A759;
      border: 23.7262px solid #000000;
      border-radius: 44.3368px 44.3368px 44.3368px 44.3368px;
      box-sizing: content-box;

      .gridWrap {
         display: grid;
         height: 100%;
         grid-template-columns: 71px 235px 382px 237px;
         grid-template-rows: 100%;
         grid-template-areas:
            "column1"
            "column2"
            "column3"
            "column4";

         .column1 {
            // background-color: #0c1a91;
            display: grid;
            justify-items: center;
            grid-template-rows: 12% 10% 0% 8% 2% 7% 3% 49% 5%;

            img:nth-child(1) {
               display: grid;
               align-self: center;
            }
            img:nth-child(1) {
               display: grid;
               align-self: center;
            }
            img:nth-child(2) {
               display: grid;
               align-self: center;
            }
            img:nth-child(3) {
               display: grid;
               align-self: center;
            }
            img:nth-child(4) {
               display: grid;
               align-self: center;
            }
            img:nth-child(5) {
               display: grid;
               align-self: center;
            }
            img:nth-child(6) {
               display: grid;
               align-self: center;
            }
            img:nth-child(7) {
               display: grid;
               align-self: center;
            }
            img:nth-child(8) {
               display: grid;
               align-self: end;
            }
            img:nth-child(9) {
               display: grid;
               align-self: end;
            }
         }

         .column2 {
            background-color: #ffffff;
            display: grid;
            justify-items: center;
            grid-template-rows: 26.6% 4.5% 13.5% 4.7% 8% 7% 3%;
            padding-left: 27px;
            padding-right: 27px;
            .IpadCart {
               align-self: center;
            }

            .line {
               width: 180px;
               border-top: solid 1px #ededed;
               margin-top: 5px;
            }
            .IconePerson {
               width: 39px;
               height: 39px;
            }
            .online {
               span:nth-child(1) {
                  font-family: "Inter";
                  font-style: normal;
                  font-weight: 600;
                  font-size: 12.2021px;
                  line-height: 19px;
                  letter-spacing: -0.220315px;
                  color: #1a1a1a;
               }
               span:nth-child(2) {
                  font-family: "Inter";
                  font-style: normal;
                  font-weight: 600;
                  font-size: 12.2021px;
                  line-height: 19px;
                  text-align: right;
                  letter-spacing: -0.220315px;
                  color: #767676;
                  margin-left: 85px;
                  margin-bottom: 2px;
               }
               .gridicon {
                  display: grid;
                  grid-template-columns: 1fr 1fr 1fr 1fr;
                  grid-column-gap: 8px;
                  margin-top: 11px;
               }
            }
            .Chats {
               p {
                  font-family: "Inter";
                  font-style: normal;
                  font-weight: 600;
                  font-size: 12.2021px;
                  line-height: 19px;
                  letter-spacing: -0.220315px;
                  color: #1a1a1a;
               }
            }
         }

         .column3 {
            background: #ffffff;
            display: grid;
            border-left: 1px solid #ededed;
            border-right: 1px solid #ededed;
            height: 100%;
            width: 100%;
            justify-content: center;

            .wrapcolumn3 {
               width: 328px;
               height: 100%;
               display: grid;
               grid-template-rows: 9% 5% 4% 11.5% 3% 6% 3% 8.5% 3% 10% 3% 8% 3.5% 6% 3% 11.3%;
               align-items: flex-end;

               .col3Input {
                  height: 32px;
               }

               & div:nth-child(3) p {
                  font-family: "Inter";
                  font-style: normal;
                  font-weight: 600;
                  font-size: 16.2694px;
                  line-height: 23px;
                  /* or 142% */
                  letter-spacing: -0.293753px;
                  color: #1a1a1a;
               }

               .chat {
                  font-family: "Inter";
                  font-style: normal;
                  font-weight: 500;
                  font-size: 8.1347px;
                  line-height: 11px;
                  letter-spacing: -0.146877px;
                  color: #767676;
               }
               & div:nth-child(4) p,
               & div:nth-child(5) p,
               & div:nth-child(6) p,
               & div:nth-child(6) p,
               & div:nth-child(7) p,
               & div:nth-child(8) p,
               & div:nth-child(9) p,
               & div:nth-child(10) p,
               & div:nth-child(11) p,
               & div:nth-child(12) p,
               & div:nth-child(13) p,
               & div:nth-child(14) p,
               & div:nth-child(15) p {
                  font-family: "Inter";
                  font-style: normal;
                  font-weight: 400;
                  font-size: 9.49048px;
                  line-height: 15px;
                  letter-spacing: -0.171356px;

                  // color: #FEFEFE;
                  // background: rgb(173, 12, 12);
                  border-radius: 1px;
                  // width: 200px;
                  color: #767676;
               }

               & div:nth-child(4),
               & div:nth-child(8),
               & div:nth-child(12) {
                  // background: rgb(173, 12, 12);
                  display: grid;
                  justify-content: flex-start;
                  grid-template-columns: minmax(0px, 217px);
               }
               & div:nth-child(4) p,
               & div:nth-child(8) p,
               & div:nth-child(12) p {
                  color: #fefefe;
                  padding: 12px;
                  background: #1a1a1a;
                  border-radius: 8.1347px 8.1347px 8.1347px 0px;
               }

               & div:nth-child(5),
               & div:nth-child(9),
               & div:nth-child(13) {
                  display: grid;
                  justify-content: flex-start;
               }
               & div:nth-child(5) p,
               & div:nth-child(9) p,
               & div:nth-child(13) p {
               }

               & div:nth-child(6),
               & div:nth-child(10),
               & div:nth-child(14) {
                  display: grid;
                  justify-content: flex-end;
                  grid-template-columns: minmax(0px, 217px);
               }
               & div:nth-child(6) p,
               & div:nth-child(10) p,
               & div:nth-child(14) p {
                  background: rgb(12, 173, 133);
                  padding: 12px;
                  background: #e7ebfc;
                  color: #1a1a1a;
                  justify-self: end;
                  border-radius: 8.1347px 8.1347px 0px 8.1347px;
               }

               & div:nth-child(7),
               & div:nth-child(11),
               & div:nth-child(15) {
                  display: grid;
                  justify-content: flex-end;
               }
               & div:nth-child(7) p,
               & div:nth-child(11) p,
               & div:nth-child(15) p {
               }
            }
         }
         .column4 {
            background-color: #ffffff;
            display: grid;
            grid-template-rows: 11% 21.5% 7.5% 4.7% 24% 8% 5% 10%;
            padding-left: 27px;
            padding-right: 27px;
            border-radius: 0px 17.3368px 17.3368px 0px;

            .gap {
               display: grid;
            }

            .dateWrap {
               display: grid;
               grid-template-columns: 1fr 1fr;
               align-items: center;

               div:nth-child(1) {
                  display: grid;
                  justify-items: start;
                  font-family: "Inter";
                  font-style: normal;
                  font-weight: 400;
                  font-size: 10.8463px;
                  line-height: 18px;
                  letter-spacing: -0.195835px;
                  color: #767676;
               }
               div:nth-child(2) {
                  display: grid;
                  justify-items: end;
               }
            }

            .ipadcartwrap {
               display: grid;
               justify-items: center;
               align-items: center;
            }
            .line {
               width: 180px;
               border-top: solid 1px #ededed;
               margin-top: 24px;
            }
            .sharedWrap {
               display: grid;
               grid-template-columns: 90px 90px;

               .shared {
                  font-family: "Inter";
                  font-style: normal;
                  font-weight: 600;
                  font-size: 12.2021px;
                  line-height: 19px;
                  letter-spacing: -0.220315px;
                  color: #1a1a1a;
               }
               .href {
                  font-family: "Inter";
                  font-style: normal;
                  font-weight: 500;
                  font-size: 9.49048px;
                  line-height: 16px;
                  text-align: right;
                  letter-spacing: -0.171356px;
                  color: #133fe3;
                  text-decoration: none;
               }
            }
            .cont {
               display: grid;
               grid-template-columns: 1fr 1fr;
            }

            .contInf {
               display: grid;
               grid-template-rows: 1fr 1fr;

               p:nth-child(1) {
                  font-family: "Inter";
                  font-style: normal;
                  font-weight: 600;
                  font-size: 10.8463px;
                  line-height: 18px;
                  letter-spacing: -0.195835px;
                  color: #1a1a1a;
               }
               p:nth-child(2) {
                  font-family: "Inter";
                  font-style: normal;
                  font-weight: 400;
                  font-size: 9.49048px;
                  line-height: 15px;
                  text-align: right;
                  letter-spacing: -0.171356px;
                  color: #767676;
                  justify-self: start;
               }
            }
            .contcart {


               .profession {
                  font-family: "Inter";
                  font-style: normal;
                  font-weight: 400;
                  font-size: 9.49048px;
                  line-height: 15px;
                  text-align: right;
                  letter-spacing: -0.171356px;
                  color: #767676;
               }
            }
         }
      }
   }
}
}