@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  list-style-type: none;
  font-family: 'Inter', sans-serif;
 
}

.app-wrapper {
  margin: 0 auto;
  width: 1400px;
 button:hover {
    background:  rgb(18, 112, 54);
    cursor: pointer;
  }
  input:focus{
    outline: 0;
  }
  select:focus{
    outline: 0;
  }
  
}

//////////////////////////////SLIDER//////////////////////////////////


.slick-slider.slick-initialized{

    margin-left: 145px;
    margin-right: 145px;;

}
.slick-prev, .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 16% !important;
  display: block;
  width: 60px !important;
  height: 60px !important;
  padding: 0;
  transform: translate(0, -50%) !important;
  cursor: pointer;
  color: grey !important;
  border: 60px ;
  outline: none;
  background: transparent 50%!important;
  
  
}
.slick-prev {
  left: -92px !important;
  background: url('img/Arrow_back.svg') no-repeat center center /60% !important;
  border-radius: 50%;
  background-color: #E7EBFC !important;
    &:hover{
      background: url('img/Arrow_backgreen.svg') no-repeat center center /60% !important ;
      background-color: #E7EBFC !important;
     
    }
}
.slick-next {
  left: 1144px !important;
  background: url('img/Arrow_Forward.svg')no-repeat center center /60% !important;
  border-radius: 50%;
  background-color: #E7EBFC !important;
  &:hover{
    background: url('img/Arrow_Forwardgreen.svg') no-repeat center center /60% !important ;
    background-color: #E7EBFC !important;
 
  }
  
}
.slick-prev:before,.slick-next:before {
  content: ''!important;
  font-family: ''!important;
  font-size: 20px !important;
  line-height: 1 ;
  opacity: 100 !important; 
   color: grey !important;
  background-color: gray !important;
}

.slick-dots {
  display: flex !important;
  flex-direction: column !important;
  left: -87px !important;
  top: 230px !important;
  width: 10% !important;
  height: 6% !important;

          & :hover{
            background: transparent !important;
            
          }

}
.slick-dots li.slick-active button:before {
  
  color: #27A759 !important;
}
.slick-dots li {
  height: 10px!important;
}
.slick-dots li button:before{ 

  color: #27A759 !important;
  font-size: 8px !important;
  
}
.slick-track{
  
}
.Feature_Feature__7NJGY .Feature_contentSlider__361uW{

  padding-left: 0px !important;
  margin-right: -46px !important;
}

/////////////////////////end SLIDER //////////////////////////////////////////