
   

.default-contcart{
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-column-gap: 7px;
    align-content: center;
    // justify-items: center;
    align-items: center;

    .default-prof{
       
        align-self: end;
        display: grid;
       
    
        }
    
}
.default-profession{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 9.49048px;
    line-height: 15px;
    text-align: right;
    letter-spacing: -0.171356px;
    color: #767676;
    align-self: end;
    display: grid;
    grid-template-columns: 104px 1fr;
    }
    
.default-cont{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.default-contInf{
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: start;

    p:nth-child(1){
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 10.8463px;
        line-height: 18px;
        letter-spacing: -0.195835px;
        color: #1A1A1A;
    }
    p:nth-child(2){
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 9.49048px;
        line-height: 15px;
        text-align: right;
        letter-spacing: -0.171356px;
        color: #767676;
        justify-self: start;
    }
}

